  body {
      background-image: url(../image/logbackg.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
  }

  /* Style for the login container (optional) */
  form {
      background-color: #f5f5f5;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      text-align: center;
  }

  /* Style for the title */
  h1 {
      margin-bottom: 20px;
      text-align: center;
      color:white;
  }
  
  .container{
      max-width: 500px;
  }

  p{
      font-size:14px;
  }
  
  form{
      text-align: left;
  }
  
  button{
      width: 100%; margin-top: 10px;
  }
  
 .custom-form{
    background: #EAF1FF;

}